################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Common/Debug
/Common/Release
/Debug/Game.pdb
/Debug/Game.ilk
/Debug/Common.pdb
/Debug/Game.exe
/Debug/Common.lib
/Release/Game.pdb
/Release/Game.ipdb
/Release/Game.iobj
/Release/Common.lib
*.exe
/Game/Debug
/.vs/SP3Base/v15
/.vs/Game/v15
/SP3Base.rar
/.vs
*.user