################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenGL/v15
/Common/Debug
/Common/Release
/Common/x64/Debug
/Debug/Game.pdb
/Debug/Game.ilk
/Debug/Common.pdb
/Debug/Game.exe
/Debug/Common.lib
/OpenGL/Debug
/OpenGL/Release
/OpenGL/x64/Debug
/Release/Game.pdb
/Release/Game.ipdb
/Release/Game.iobj
/Release/Common.lib
x64/Debug/Common.lib
x64/Debug/Common.pdb
*.exe